.btn-outline-white {
    color: #ffffff!important;
    border-color: #ffffff!important;
    text-decoration:none!important;
}
.btn-link-white {
    font-weight: 400;
    color: #ffffff!important;
    text-decoration:none!important;
}

